<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel ="stylesheet" href="mystyle.css"/>
  <title>Home</title>
</head>

<body>

  <div class="header">

    <img width="100%"
      src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Toys/Avengers/MainBanner_1242x350._CB1198675309_.png"
      alt="" border="0" />
  </div>

  <div class="navbar">
    <a href="index" class="active">Home</a>
    
    
    </div>
    
   
    
  </div>

  <div class="row">
    <div class="side">
      <h2>Add Product</h2>
      <form action="/insert" method="post">
        Name <input type="text" name="txtName">
        
        
        <br>
        Price<input type="text" name="txtPrice">
        {{mesage}}
        <br>
       
        <br>
        Image<input type="text" name="Imageurl">

        <br>
        <input type="submit" value="Insert">
      </form>
      
     
          <iframe style="padding-top: 20px;" width="400" height="225" src="https://www.youtube.com/embed/7LCkMsHeqfA" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        <iframe width="400" height="225" src="https://www.youtube.com/embed/dE1P4zDhhqw" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     
    </div>

    <div class="main">
      {{#each data}}
      <div class="responsive">
        <div class="product">
          <img src="{{image}}" alt="" >

          <div class="desc">
         <a style="font-size: 25px;">
            Name: {{name}}
          </a>
          <span style= "display:block" ;></span>
          Price: <span style="color:red;">{{price}}</span>$
          <span style= "display:block" ;></span>
          <a href="/delete?id={{_id}}">Delete</a>
          <a href="/edit?id={{_id}}">Edit</a>
          
          </div>

        </div>   
        
      </div>
      {{/each}}
    </div>
  </div>

  

  
    


</body>

</html>